* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 1200px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
p,
span,
small {
  color: #BEC0C2;
}
a {
  text-decoration: none;
  color: grey;
}
a:hover,
a:focus,
a:active {
  color: black;
}
.list-inline {
  list-style: none;
}
.list-inline li {
  display: inline-block;
  line-height: 30px;
  padding: 0 5px;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.container-top {
  height: 100px;
  background-color: #099688;
}
.container-bottom {
  height: calc(100% - 100px);
  background-color: #DBDCD3;
}
.wrapper {
  width: calc(100% - 200px);
  height: 95%;
  margin: 15px 100px;
  position: absolute;
  top: 0;
  bottom: 0;
}
#contacts {
  width: 30%;
  height: 100%;
  background-color: #EBEBEB;
}
#contacts .info {
  padding: 10px 5px;
  width: 100%;
  border-right: 1px solid darkgrey;
}
#contacts .profile-info {
  width: 10%;
}
#contacts .tab i {
  font-size: 15px;
}
#contacts .profile-info img{
  width: 100%;
  border-radius: 50%;
  vertical-align: middle;
}
#contacts .notification {
  padding: 10px 10px;
  height: 60px;
  background-color: #8EDAFD;
}
#contacts .notification i {
  padding: 10px 6px;
  color: #8EDAFD;
  font-size: 18px;
  background-color: #fff;
  border-radius: 50%;
}
#contacts .notification p {
  color: black;
}
h3 {
  display: inline;
  font-weight: normal;
}
span {
  float: right;
  margin-right: -100px;
  font-size: 11px;
}
.text {
  display: inline-block;
  margin-left: 10px;
  line-height: 16px;
  vertical-align: middle;
}
#contacts .notification .text a {
  text-decoration: underline;
}
#contacts .search {
  position: relative;
  padding: 5px;
  height: 30px;
}
#contacts .search a i {
  position: absolute;
  top: 9px;
  left: 15px;
}
#contacts .search .search-bar {
  padding: 4px 40px;
  width: 100%;
  font-size: 11px;
  border: none;
}
#contacts .contact-list {

  height: calc(100% - 160px);
  overflow-y: scroll;
  background-color: #fff;
}
#contacts .contact-list .profile {
  padding: 3px 10px;
  border-bottom: 1px solid #EBEBEB;
  cursor: pointer;
}
#contacts .contact-list .profile:hover,
#contacts .contact-list .profile:focus,
#contacts .contact-list .profile:active {
  background-color: #DBDCD5;
}
#contacts .contact-list img {
  width: 15%;
  vertical-align: middle;
}
/* Messages */
#messages {
  width: 70%;
  height: 100%;
  background-color: #fff;
}
#messages .info {
  padding: 9px 5px;
  background-color: #EBEBEB;
}
#messages .profile-info {
  width: 43%;
}

#messages .tab i {
  font-size: 14px;
}
#messages .profile-info img{
  width: 10%;
  border-radius: 50%;
  vertical-align: middle;
}
#messages .chat-window {
  display: none;
  height: calc(100% - 100px);
  background-color: #E5DDD5;
  overflow-y: scroll;
}
#messages .messages {
  min-width: 30%;
  max-width: 60%;
  padding: 5px;
  margin: 10px;
  border-radius:5px;
}
#messages .chat-window.active {
  display: block;
}
#messages .message {
  display: flex;
  justify-content: space-between;
}
#messages .message p {
  color: black;
}
#messages .message-time {
text-align: right;
}
#messages .messages.sent {
  float: right;
  clear: both;
  background-color: #D6FABB;
}

#messages .messages.received {
  float: left;
  clear: both;
  background: white;
}
#messages .chat-bar {
  padding: 10px 15px;
  height: 50px;
  background-color: #F3EEEA;
}
.container-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#messages .chat-bar img {
  width: 2%;
  cursor: pointer;
}
#chat-box {
  margin: 5px 10px;
  padding: 12px;
  width: 90%;
  font-size: 11px;
}
#messages .chat-bar i{
  font-size: 16px;
  margin-right: 10px;
}
.template {
  display: none;
}
