/* Utilties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p,
span,
small {
  color: #BEC0C2;
}
a {
  text-decoration: none;
  color: grey;
}
a:hover,
a:focus,
a:active {
  color: black;
}
.list-inline {
  list-style: none;
}
.list-inline li {
  display: inline-block;
  line-height: 30px;
  padding: 0 5px;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.display-none {
  display: none;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden
}
.avatar img {
  width: 100%;
}
body {
  position: relative;
  width: 100%;
  height: 100vh;
  min-width: 1200px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  position: relative;
  background-image: linear-gradient(#099688 20%, #DBDCD3 20%, #DBDCD3);
}
.wrapper {
  width: calc(100% - 200px);
  height: 95%;
  margin: 15px 100px;
  position: absolute;
  top: 0;
  bottom: 0;
}
/* Contacts */
#contacts {
  width: 30%;
  height: 100%;
  background-color: #EBEBEB;
}
.info {
  padding: 5px;
  width: 100%;
  border-right: 1px solid darkgrey;
}
.tab i {
  font-size: 15px;
  vertical-align: middle;
}
.notification {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  height: 60px;
  background-color: #8EDAFD;
}
.notification i {
  padding: 10px 6px;
  margin-right: 10px;
  color: #8EDAFD;
  font-size: 18px;
  background-color: #fff;
  border-radius: 50%;
}
.notification p {
  margin-bottom: 2px;
  color: black;
}
.notification .text a {
  text-decoration: underline;
}
.search {
  position: relative;
  padding: 5px;
  height: 30px;
}
.search .search-contact {
  position: absolute;
  top: 9px;
  left: 15px;
}
.search .search-bar {
  padding: 4px 40px;
  width: 100%;
  font-size: 11px;
  border: none;
}
.contacts {
  height: calc(100% - 145px);
  overflow-y: scroll;
  background-color: #fff;
}
.contact-list {
  list-style: none;
}
.contact-element {
  display: flex;
  align-items: center;
  padding: 6px;
  border-bottom: 1px solid #EBEBEB;
  cursor: pointer;
}
.contact-info {
  width: 100%;
  margin-left: 10px;
}
.contact-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-element:hover,
.contact-element:focus,
.contact-element:active {
  background-color: #DBDCD5;
}

/* Messages */
#messages {
  width: 70%;
  height: 100%;
  background-color: #fff;
}
.info-messages {
  padding: 5px;
  background-color: #EBEBEB;
}
.profile-messages {
  display: flex;
  align-items: center;
}
.text-messages {
  margin-left: 10px;
}
.container-chat-window {
  height: calc(100% - 104px);
  overflow-y: scroll;
  background-color: #E5DDD5;
}
.chat-window {
  display: none;
  min-height: 100%;
}
.messages {
  min-width: 20%;
  max-width: 50%;
  padding: 5px;
  margin: 10px 30px;
  border-radius:5px;
}
.chat-window.active {
  display: block;
}
.message {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.message p {
  color: black;
}
.message-time {
  text-align: right;
}
.messages.sent {
  float: right;
  clear: both;
  background-color: #D6FABB;
}
.messages.received {
  float: left;
  clear: both;
  background: white;
}
.chat-bar {
  padding: 10px 15px;
  height: 50px;
  background-color: #F3EEEA;
}
.container-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.chat-bar img {
  width: 2%;
  cursor: pointer;
}
#chat-box {
  margin: 5px 10px;
  padding: 12px;
  width: 90%;
  font-size: 11px;
}
.chat-bar i{
  margin-right: 10px;
  font-size: 20px;
  color: #6B7375;
  cursor: pointer;
}
#send {
  font-size: 18px;
}
.chat-bar:hover .fa-microphone {
  display: none;
}
.chat-bar:hover .fa-paper-plane {
  display: block;
}
.message-options {
  display: none;
  cursor: pointer;
}
.message:hover .message-options {
  display: block;
}
.dropdown  {
  list-style: none;
  position: absolute;
  top: 30px;
  right: -5px;
  padding: 5px 10px;
  text-align: center;
  line-height: 30px;
  background-color: white;
  filter:drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}
.dropdown.active {
  display: block;
}
.dropdown li a {
  color: black;
}
.dropdown li a:hover {
  color: #6B7375;
}
